*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    cursor: pointer;
}

a,
img,
input,
button,
select,
textarea {
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

/* Home */
.home {
    padding: 50px 0;
}

.home a {
    display: inline-block;
    min-width: 270px;
    margin: 2px 0;
    padding: 10px;
    background: #e0eae5;
}

/* Navbar */

.header {
    padding: 30px 0;
    background: #e0eae5;
}

.header-top {
    display: flex;
    align-items: center;

    background: #e0eae5;
}

.navbar {
    margin-left: 200px;
}

.navbar-list {
    display: flex;
    align-items: center;
}
.navbar-item:not(:last-child) {
    border-right: 1px solid currentColor;
}

.navbar-link {
    padding: 8px 24px;
}

.navbar-link:hover {
    background: #fff;
    text-shadow: 1px 1px 4px currentColor;
}

.navbar-link:active {
    background: orange;
}

.navbar-link::before {
    content: "\25B6";
    margin-right: 5px;
}

/* CV */
.content {
    max-width: 1098px;
    min-height: 1474px;
    margin-left: auto;
    margin-right: auto;
    padding: 44px 50px;
    /* border: 1px solid #ccc; */
    background: #fff;
    box-shadow: 0px 20px 60px 10px #7c7c9533;
}

.content-top {
    text-align: center;
}

.heading-lv1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
}

.heading-lv2 {
    margin-top: 28px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(39 39 39);
    font-size: 1.9rem;
    font-weight: 700;
}

.row {
    display: flex;
    align-items: center;
}

.heading-lv3 {
    flex: 1;
    margin: 24px 25px 24px 0;
}

.heading-lv3,
.date {
    font-size: 1.7rem;
    font-weight: 700;
}

.job-list,
.desc {
    list-style: disc;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.66;
}

.inline {
    display: flex;
}

.info,
.job {
    padding: 0 25px;
}

.info {
    margin-top: 28px;
    border-left: 1px solid #ccc;
}

.info .img {
    display: block;
    width: 250px;
}

.job {
    border-right: 1px solid #ccc;
}

.personal {
    padding: 0 16px 16px;
    background: rgba(204, 204, 204, 0.4);
}

.personal .group {
    padding-top: 16px;
}

.personal .label {
    font-size: 1.6rem;
    font-weight: 400;
}

.personal .label-2 {
    font-size: 1.6rem;
    font-weight: 500;
}

/* Pricing Table */
.pricing-heading {
    margin-top: 50px;
    color: #4f5a5a;
    font-size: 3.3rem;
    font-weight: 500;
    text-align: center;
}

.pricing {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 70px;
}

.pricing-card {
    /* display: inline-block; */
    /* width: calc(33.33% - 34px); */
    /* margin-left: 30px; */
    flex: 1;
    border-radius: 12px;
    border: 1px solid #d8e0e0;
    border-top: 4px solid #61e17e;

    background: #fff;
    text-align: center;
}

.pricing-card:nth-child(2) {
    border-top: 4px solid #c250e2;
}

.pricing-card:nth-child(3) {
    border-top: 4px solid #f483a1;
}

.pricing-card:nth-child(1):hover {
    box-shadow: 0px 18px 46px 0px #61e17e;
}

.pricing-card-active,
.pricing-card:nth-child(2):hover {
    box-shadow: 0px 18px 46px 0px #c250e2;
}

.pricing-card:nth-child(3):hover {
    box-shadow: 0px 18px 46px 0px #f483a1;
}

.pricing-top {
    padding: 40px 0;
    text-align: center;
}

.pricing-dole {
    font-size: 3rem;
    font-weight: 700;
    color: #61e17e;
}

.pricing-card:nth-child(2) .pricing-dole {
    color: #c250e2;
}

.pricing-card:nth-child(3) .pricing-dole {
    color: #f483a1;
}

.pricing-desc {
    color: #4f5a5a;

    font-size: 1.8rem;
    line-height: 166.667%;
}

.pricing-bottom {
    background: #61e17e;
    padding: 30px 26px;
    border-radius: 0px 0px 12px 12px;
    color: #fff;
}

.pricing-card:nth-child(2) .pricing-bottom {
    background: #c250e2;
}

.pricing-card:nth-child(3) .pricing-bottom {
    background: #f483a1;
}

.pricing-title {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
}

.pricing-list {
    margin-top: 24px;
    text-align: left;
}

.pricing-item {
    padding: 6px 0;
}

.pricing-item::before {
    content: "✓";
    margin-right: 8px;
}

.pricing-submit {
    height: 46px;
    min-width: 120px;
    margin-top: 24px;
    padding: 0 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #fff;
    color: #61e17e;
    font-size: 1.6rem;
    font-weight: 500;
}

.pricing-card:nth-child(2) .pricing-submit {
    color: #c250e2;
}

.pricing-card:nth-child(2) .pricing-submit {
    color: #f483a1;
}

/* Product lis */
.product {
    padding: 70px 0;
}

.prod-heading {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.238;
    color: #131717;
}

.prod-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prod-desc {
    max-width: 470px;
    color: #566363;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
}

.prod-btn {
    display: flex;
    align-items: center;
    width: 158;
    height: 60px;
    padding: 0 35px;

    border: 1px solid #005d63;
    color: #005d63;

    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.66667;
}

.prod-thumb {
    width: calc(100% + 2px);
    height: 310px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.prod-list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.prod-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.prod-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.prod-item:hover .prod-btn {
    background: #005d63;
    color: #fff;
}

.prod-info {
    padding: 20px;
}

.prod-cate {
    color: #566363;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

.prod-title {
    display: block;
    margin: 4px 0 12px;
    color: #131717;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

.prod-vote {
    display: flex;
    align-items: center;
    gap: 6px;
}

.prod-rating {
    color: #566363;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
}

.prod-pricing {
    color: #131717;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.66667;
}

.prod-cta {
    margin-top: 28px;
}

/* Sign Up */
.auth {
    display: flex;
    min-height: 100vh;
}

.auth-intro,
.auth-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-intro {
    background: #04704e;
}

.auth-wrap {
    background: #e0eae5;
    color: #032e32;
}

.auth-content {
    padding: 40px 28px;
    border-radius: 12px;
    background: #fff;
}

.auth-heading {
    font-size: 4.2rem;
    font-weight: 800;
    line-height: 1.2381;
    text-align: center;
}

.auth-desc {
    max-width: 441px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
    text-align: center;
}

.form {
    margin-top: 60px;
}

.form-group {
    margin: 26px 0;
}

.form-label,
.form-input,
.btn {
    color: #032e32;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.form-label {
    display: block;
}

.form-input {
    width: 100%;
    height: 62px;
    margin-top: 16px;
    padding: 0 18px;
    border-radius: 6px;
    border: 1px solid #d4dddd;
}

.form-input::placeholder {
    color: #4f5a5a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.auth-btn {
    display: flex;
    margin-top: 54px;
}

.btn {
    flex: 1;
    height: 62px;
    padding: 0 24px;
    border-radius: 6px;
    background: #b5ed3d;
}
